<div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/fotoperfil.png" class="img-fluid" id="fotoperfil">
            <p  id="nombre">Nora A. Rivero</p>
            <p>Analista Funcionar Jr en AdvertMind</p>
            <p>Córdoba [Argentina]</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>
                    Soy Técnico Superior en Gstión Financiera y estudiante de Analista de Sistemas.
                </p>
            </span>
        </div>   
</div>

<!-- <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/fotoperfil.png" alt="Card image cap" class="img-fluid" id="fotoperfil">
    <div class="card-body">
      <h5 class="card-title">Nora Rivero</h5>
      <p class="card-text">Full Satack Developer Jr.</p>
      <a href="#" class="btn btn-primary">Mis Intereses</a>
    </div>
  </div> -->
