<div class="row">
    <h1> Experiencia Laboral</h1>
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <ul>
            <li><h2>Inc SA</h2> - <h3>2009-2009</h3></li>
            <p>El trabajo realizado fue...</p>
        </ul>
        <ul>
            <li><h2>Brinks SA</h2> - <h3>2010-2012</h3></li>
            <p>El trabajo realizado fue...</p>
        </ul>
        <ul>
            <li><h2>Market Line</h2> - <h3>2012-2014</h3></li>
            <p>El trabajo realizado fue...</p>
        </ul>
        <ul>
            <li><h2>Autoneum Argentina SA</h2> - <h3>2014-2022</h3></li>
            <p>El trabajo realizado fue...</p>
        </ul>
        <ul>
            <li><h2>AdvertMind</h2> - <h3>2022</h3></li>
            <p>El trabajo realizado fue...</p>
        </ul>
    </div>
</div>
