<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <ul>
            <li><h2>Educación Secundaria</h2> - <h3>2002-2004</h3></li>
            <p>El trabajo realizado fue...</p>
        </ul>
        <ul>
            <h2>Educación Terciaria</h2>
                <li>Tecnico Superior en Gestion Financiera - <h3>2010-2013</h3></li>
                <p>Estudio realizado</p>
                <li>Analista de Sistemas - <h3>2013-2015</h3></li>
                <p>Estudio realizado</p>
        </ul>
        <ul>
            <li><h2>Educación Universitaria</h2> - <h3>2005-2006</h3></li>
            <p>El trabajo realizado fue...</p>
        </ul>
    </div>
</div>
